/* primary text color #757575 */
/* title text color #212121 */
/* accent #2196F3 */
/* primary white color #FFFFFF */
/* secondary white color rgb(255, 255, 255, 0.6) */
/* secondary background-color #F5F4FA*/
/* logo black #000000 */
/* button-background #2F303A */
/* card-border #EEEEEE */
/* transition-duration 250ms */

:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --primary-white-color: #ffffff;
  --secondary-white-color: rgb(255, 255, 255, 0.6);
  --light-grey-background: #f5f4fa;
  --dark-grey-background: #2f303a;
  --hero-button-background: #2f303a;
  --card-border: #eeeeee;
  --trnsition-duration: 250ms;
}

body {
  background-color: var(--primary-white-color);
  color: var(--primary-text-color);

  font-family: "Roboto", sans-serif;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  /* outline: red solid 2px; */
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
p {
  margin: 0;
  padding: 0;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link:hover,
.link:focus {
  color: var(--accent-color);
}

/* Header */

.header-border {
  border-bottom: 1px solid var(--card-border);
}

.row {
  display: flex;
  align-items: center;
}

.logo {
  color: var(--accent-color);
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
}

.logo-pad {
  padding-top: 24px;
  padding-bottom: 25px;
}

.logo-part {
  color: #000000;
}

.site-nav {
  display: flex;
}

.site-nav .item:first-child {
  margin-left: 95px;
}

.site-nav .item:not(:last-child) {
  margin-right: 50px;
}

/* Auth navigation */
.auth-nav {
  display: flex;
  margin-left: auto;
  align-items: center;
}

.auth-nav .item + .item {
  margin-left: 50px;
}

.link-current {
  color: var(--accent-color);
  font-weight: 500;
  line-height: 1.17;
  position: relative;
}
.link-current::after {
  content: "";
  left: 0;
  bottom: -1px;

  position: absolute;
  width: 100%;

  height: 4px;
  border-radius: 2px;
  background-color: var(--accent-color);
}

.header-link {
  color: var(--title-text-color);
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.header-link,
.link-current {
  padding-top: 32px;
  padding-bottom: 32px;
  display: block;
}

.contact-link {
  color: var(--primary-text-color);
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  padding-top: 32px;
  padding-bottom: 32px;
  display: flex;
  align-items: center;
}

.icon-envelope,
.icon-smartphone {
  fill: var(--primary-text-color);
  margin-right: 10px;
}
.icon-envelope {
  width: 16px;
  height: 12px;
}

.icon-smartphone {
  width: 10px;
  height: 16px;
}

.contact-link svg {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contact-link:hover svg,
.contact-link:focus svg {
  fill: var(--accent-color);
}

/* Hero Section */

.overlay {
  max-width: 1600px;
  background-color: #c4c4c4;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/img-studio/hero-img.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;

  margin-left: auto;
  margin-right: auto;
  padding-top: 200px;
  padding-bottom: 200px;
}

.hero-title {
  color: var(--primary-white-color);

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  max-width: 696px;
  text-transform: uppercase;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
}

.hero-button {
  display: inline-block;
  min-width: 216px;
  border: none;
  border-radius: 4px;
  padding: 10px 32px;

  background-color: var(--accent-color);
  color: var(--primary-white-color);

  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;

  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-button:hover,
.hero-button:focus {
  background-color: #188ce8;
}

/* Preferences Section */

.pref-section {
  padding-top: 94px;
}

.section-title {
  color: var(--title-text-color);

  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.pref-container {
  display: flex;
}

.pref-item {
  flex-basis: calc((100% - 90px) / 4);
  background-color: var(--primary-white-color);
}
.thumb {
  width: 270px;
  height: 120px;
  background-color: var(--light-grey-background);
  border-radius: 4px;
  padding: 25px 100px;
  margin-bottom: 30px;
}

.pref-item:not(:last-child) {
  margin-right: 30px;
}

.subsection-title {
  color: var(--title-text-color);

  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  margin-bottom: 10px;
}

/* Our Activity Section */

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.act-container {
  display: flex;
}

.title-gap {
  margin-bottom: 50px;
}

.no-gap {
  display: block;
}
.pics-descr {
  padding-top: 30px;
  padding-bottom: 30px;
}

.act-item {
  flex-basis: calc((100% - 60px) / 3);
}

.act-item:not(:last-child) {
  margin-right: 30px;
}

.activity-thumb {
  position: relative;
}
.activity-thumb::before {
  position: absolute;
  display: inline-block;
  content: "";
  width: 100%;
  height: 70px;
  left: 0;
  bottom: 0;
  background-color: rgba(47, 48, 58, 0.8);
}

.overlay-text {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;

  display: flex;
  justify-content: center;
  padding: 27px;

  font-weight: 700;
  line-height: 1.17;
  text-transform: uppercase;
  color: var(--primary-white-color);
}

/* Team Section */

.team-section {
  background-color: var(--light-grey-background);
  padding-top: 94px;
  padding-bottom: 94px;
}

.team-title,
.card-text {
  font-size: 16px;
  line-height: 1.17;
  text-align: center;
  margin: 0;
}

.team-title {
  color: var(--title-text-color);
  font-weight: 500;
  /* margin-top: 30px; */
}

.card-shadow {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.card-text {
  margin-top: 10px;
}
.team-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 16px;
}

.social-link {
  display: block;
  width: 44px;
  height: 44px;
  fill: #afb1b8;
  border: none;
  border-radius: 50%;
  padding: 12px;

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link:hover,
.social-link:focus {
  background-color: var(--accent-color);
  fill: var(--primary-white-color);
}

/* Clients Section */

.clients-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
.client-link {
  display: flex;
  width: 170px;
  height: 92px;
  justify-content: center;
  align-items: center;

  fill: #afb1b8;
  padding: 16px 32px;
  background-color: var(--primary-white-color);
  border-radius: 4px;
  border: 1px solid rgba(175, 177, 184, 1);

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.client-link:hover,
.client-link:focus {
  fill: var(--accent-color);
  border-color: var(--accent-color);
}

/* Footer */

.footer-color {
  background-color: var(--dark-grey-background);
  /* padding: 60px 0 60px 15px; */
  padding-top: 60px;
  padding-bottom: 60px;
}

.logo-marg {
  display: inline-block;
  margin-bottom: 20px;
}

.footer-container {
  display: flex;
  align-items: baseline;
}

.footer-logo-part {
  color: var(--primary-white-color);
}

.footer-address {
  color: var(--primary-white-color);
  font-style: normal;
}

.address-marg {
  display: block;
  margin-bottom: 9px;
}

.footer-contacts {
  color: var(--secondary-white-color);
  line-height: 1.71;
  font-style: normal;
}

.subsection-title {
  color: var(--title-text-color);

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;

  text-transform: uppercase;
}

.footer-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 16px;
}

.footer-link {
  display: block;
  width: 44px;
  height: 44px;
  fill: var(--primary-white-color);
  background-color: rgb(255, 255, 255, 0.1);
  border: none;
  border-radius: 50%;
  padding: 12px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-link:hover,
.footer-link:focus {
  background-color: var(--accent-color);
}

.icons-position {
  /* display: flex; */
  margin-left: 70px;
}

.footer-text {
  text-transform: uppercase;
  font-weight: 700;
  color: var(--primary-white-color);
  margin-bottom: 20px;
}

.footer-box {
  display: flex;
  flex-direction: column;
  margin-left: 93px;
}

.footform-text {
  display: block;
  text-transform: uppercase;
  color: var(--primary-white-color);
  font-weight: 700;
  line-height: 1.14;
  margin-bottom: 20px;
}

.footform-input {
  display: inline-block;
  width: 358px;
  border-radius: 4px;

  padding: 14px 16px;
  font-size: 16px;
  line-height: 1.25;
  color: var(--primary-white-color);
  background-color: var(--dark-grey-background);
  border: 1px solid rgba(255, 255, 255, 0.3);
}
.footform-input:hover,
.footform-input:focus {
  background-color: var(--dark-grey-background);
  color: var(--accent-color);
  border-color: var(--accent-color);
}

.footform-input:placeholder {
  /* display: block; */
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
}

.btn-footform {
  position: relative;
  display: inline-block;

  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 28px;
  padding-right: 62px;
  margin-left: 12px;
  min-width: 200px;
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;

  border: none;
  text-align: center;
  letter-spacing: 0.06em;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.sent-btn {
  position: relative;
  display: inline-block;
}
.sent-icon {
  fill: var(--primary-white-color);
  position: absolute;
  top: 12px;
  right: 28px;
}
.btn-footform:hover,
.btn-footform:focus {
  background-color: #188ce8;
}

/* Portfolio Page*/

.portfolio-section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.btns-container {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}
.btn-gap:not(:last-child) {
  margin-right: 8px;
}

.portfolio-btn {
  display: inline-block;
  background: var(--light-grey-background);
  color: var(--title-text-color);

  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;

  text-align: center;
  cursor: pointer;
  padding: 6px 22px;
  border: none;
  border-radius: 4px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-btn:hover,
.portfolio-btn:focus {
  background-color: var(--accent-color);
  color: var(--primary-white-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.cards-container {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
}

.card-item {
  flex-basis: 370px;
  margin-right: 30px;
  margin-bottom: 30px;
}

.card-item:nth-child(3n) {
  margin-right: 0;
}

.card-item:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

.portfolio-thumb {
  position: relative;
  overflow: hidden;
}

.portf-overlay {
  position: absolute;
  left: 0;
  bottom: -100%;
  width: 100%;
  height: 100%;

  padding: 63px 24px;
  font-size: 18px;
  line-height: 1.55;
  color: var(--primary-white-color);

  background-color: rgba(33, 150, 243, 0.9);

  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-link {
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-link:hover,
.portfolio-link:focus {
  display: block;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio-link:hover .portf-overlay,
.portfolio-link:focus .portf-overlay {
  transform: translateY(0);
  bottom: 0;
}

.item-text {
  padding: 20px 24px;
  border: 1px solid var(--card-border);
  border-top: none;
}

.portfolio-title {
  color: var(--title-text-color);

  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.descript {
  color: var(--primary-text-color);
  font-size: 16px;
  line-height: 1.88;
  margin-top: 4px;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transform: scale(1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  transform: scale(0.3);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  min-width: 528px;
  min-height: 581px;
  border-radius: 4px;
  padding: 40px;

  background-color: var(--primary-white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}
.close-button {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border-color: rgba(0, 0, 0, 0.1);
  cursor: pointer;

  height: 30px;
  width: 30px;
  top: 8px;
  right: 8px;
  background-color: transparent;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.close-button:hover,
.close-button:focus {
  fill: var(--accent-color);
}

.form {
  width: 448px;
  /* outline: 1px solid red; */
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
}

.form-title {
  display: block;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  margin-bottom: 12px;
  color: var(--title-text-color);
}

.form-field {
  /* outline: 1px solid blue; */
  display: flex;
  flex-direction: column;
}

.form-label {
  margin-bottom: 4px;
  margin-left: 0;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--primary-text-color);
}

.input-wrap {
  position: relative;
  height: 40px;
  margin-bottom: 10px;
}

.form-field input {
  position: relative;
  display: block;
  margin: 0;
  width: 448px;

  padding-top: 11px;
  padding-bottom: 11px;
  padding-left: 42px;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin-bottom: 10px;
}
.svg-item {
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
}

.form-field:hover input,
.form-field:hover textarea,
.form-field:focus input,
.form-field:focus textarea {
border-color: var(--accent-color);
transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-field:hover .svg-item,
.form-field:focus .svg-item {
  fill: var(--accent-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}

.textarea {
  display: block;
  padding: 12px 16px;
  width: 448px;
  height: 120px;
  resize: none;

  font-size: 12px;
  /* line-height: 1.17px; */
  letter-spacing: 0.01em;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
}

.form-field textarea::placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.check-field {
  display: flex;
  align-items: center;
  margin-left: 0;

  /* margin-right: auto; */
  /* width: 528px; */
}

.checkbox-label {
  display: flex;
  align-items: center;
  flex-basis: 448px;
  margin: 20px 15px 30px;
}

.checkbox {
  appearance: none;
}

.check-border {
  opacity: 1;
  position: absolute;
}
.check {
  opacity: 0;
}

.checkbox:checked + .check-icon > .check {
  opacity: 1;
  width: 16px;
  height: 15px;
  /* margin-right: 7px; */
  background-color: var(--accent-color);
  object-fit: contain;
}

.checkbox:checked + .check-icon > .check-border {
  opacity: 0;
}

.check-icon {
  margin-right: 7px;
}
.agree {
  margin-left: 7px;
}

.agreement {
  color: rgba(33, 150, 243, 1);
  margin-left: 6px;
}

.btn-submit {
  display: inline-block;
  min-width: 200px;
  margin-left: auto;
  margin-right: auto;

  background-color: var(--accent-color);
  color: var(--primary-white-color);
  border: none;
  padding: 10px 52px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
  letter-spacing: 0.06em;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
}

/* transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1); */
